@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-primary: #00465f;
  --color-primary-container: #1e5e7a;
  --color-primary-fixed: #c2e8ff;
  --color-primary-fixed-dim: #95ceee;
  --color-inverse-primary: #95ceee;
  --color-on-primary: #ffffff;
  --color-on-primary-container: #9dd6f6;
  --color-on-primary-fixed: #001e2c;
  --color-on-primary-fixed-variant: #004d67;

  --color-secondary: #4d616d;
  --color-secondary-container: #cde3f1;
  --color-secondary-fixed: #d0e6f4;
  --color-secondary-fixed-dim: #b4cad8;
  --color-on-secondary: #ffffff;
  --color-on-secondary-container: #516572;
  --color-on-secondary-fixed: #081e28;
  --color-on-secondary-fixed-variant: #354955;

  --color-tertiary: #745b00;
  --color-tertiary-container: #cda728;
  --color-tertiary-fixed: #ffe08b;
  --color-tertiary-fixed-dim: #ebc243;
  --color-on-tertiary: #ffffff;
  --color-on-tertiary-container: #4f3d00;
  --color-on-tertiary-fixed: #241a00;
  --color-on-tertiary-fixed-variant: #584400;

  --color-surface: #fcf9f8;
  --color-surface-dim: #dcd9d9;
  --color-surface-bright: #fcf9f8;
  --color-surface-tint: #276581;
  --color-surface-variant: #e5e2e1;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f6f3f2;
  --color-surface-container: #f0eded;
  --color-surface-container-high: #eae7e7;
  --color-surface-container-highest: #e5e2e1;
  --color-on-surface: #1c1b1b;
  --color-on-surface-variant: #40484d;
  --color-inverse-surface: #313030;
  --color-inverse-on-surface: #f3f0ef;

  --color-outline: #71787d;
  --color-outline-variant: #c0c7cd;

  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error: #ffffff;
  --color-on-error-container: #93000a;

  --color-background: #fcf9f8;
  --color-on-background: #1c1b1b;

  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
}

/* Dark mode via classe no html */
.dark {
  --color-background: #121212;
  --color-surface: #121212;
  --color-surface-container-lowest: #1e1e1e;
  --color-surface-container-low: #242424;
  --color-surface-container: #2a2a2a;
  --color-surface-container-high: #2f2f2f;
  --color-surface-container-highest: #353535;
  --color-on-surface: #e6e1e0;
  --color-on-surface-variant: #cac4c0;
  --color-on-background: #e6e1e0;
  --color-outline: #938f94;
  --color-outline-variant: #49454e;
  --color-primary: #95ceee;
  --color-primary-container: #1e5e7a;
}

body {
  background: var(--color-background);
  color: var(--color-on-surface);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
}